/* ------------- Dropdowns ------------- */

.dropmenu {
    @apply absolute z-30 rounded-lg shadow-md shadow-gray-200 dark:shadow-none
}

.drop-trigger {
    @apply flex items-center
}

.dropdown-start {
    @apply top-full mt-2 origin-top-left left-0
}

.dropdown-center {
    @apply top-full mt-2 left-1/2 -translate-x-1/2
}

.dropdown-end {
    @apply top-full mt-2 origin-top-right right-0
}

.dropup-start {
    @apply bottom-full mb-2 
}

.dropup-center {
    @apply bottom-full mb-2 left-1/2 -translate-x-1/2
}

.dropup-end {
    @apply bottom-full mb-2 right-0
}

.dropend-start {
    @apply left-full ml-2 top-0
}

.dropend-center {
    @apply left-full ml-2 top-1/2 -translate-y-1/2
}

.dropend-end {
    @apply left-full ml-2 bottom-0
}

.dropstart-start {
    @apply right-full mr-2 top-0 
}

.dropstart-center {
    @apply right-full mr-2 top-1/2 -translate-y-1/2 
}

.dropstart-end {
    @apply right-full mr-2 bottom-0
}

.drop-menu-end {
    @apply origin-top-right right-0
}

.drop-menu-start {
    @apply origin-top-left left-0
}

.drop-menu-center {
    @apply left-1/2 -translate-x-1/2
}

.drop-content {
    @apply relative rounded-lg
}

.dropdown-link {
    @apply flex items-center w-full px-2 py-2 text-left text-sm leading-5 text-zinc-700 dark:text-zinc-300 hover:bg-zinc-100 dark:hover:bg-zinc-600 rounded cursor-pointer transition duration-300
}