/* ------------- Pagination ------------- */

.pagination {
    @apply flex items-end gap-2
}

.page-item {
    @apply flex items-center font-medium
}

.page-link {
    @apply flex items-center justify-center duration-300
}

.page-link-light {
    @apply flex items-center bg-gray-100 dark:bg-gray-300 text-gray-500 dark:text-gray-600 hover:text-gray-600 dark:hover:text-gray-900 hover:bg-gray-200 dark:hover:bg-gray-100
}

.page-item.active .page-link-light {
    @apply bg-gray-300 dark:bg-gray-200 text-gray-600 pointer-events-none
}

.page-link-gray {
    @apply flex items-center bg-gray-400 dark:bg-gray-500 text-gray-100 dark:text-gray-200 hover:text-gray-100 dark:hover:text-gray-900 hover:bg-gray-500 dark:hover:bg-gray-400
}

.page-item.active .page-link-gray {
    @apply bg-gray-500 dark:bg-gray-400 text-gray-100 dark:text-gray-900 pointer-events-none
}

.page-link-dark {
    @apply flex items-center bg-gray-600 dark:bg-gray-800 text-gray-100 dark:text-gray-200 hover:text-gray-100 dark:hover:text-gray-100 hover:bg-gray-700 dark:hover:bg-gray-700
}

.page-item.active .page-link-dark {
    @apply bg-gray-800 dark:bg-gray-700 text-gray-100 pointer-events-none
}

.page-link-primary {
    @apply flex items-center bg-blue-50 dark:bg-blue-400/30 text-blue-400 dark:text-blue-200 hover:text-blue-600 dark:hover:text-blue-100 hover:bg-blue-100 dark:hover:bg-blue-400/50
}

.page-item.active .page-link-primary {
    @apply bg-blue-500 dark:bg-blue-500 text-white pointer-events-none
}

.page-link-success {
    @apply flex items-center bg-green-50 dark:bg-green-400/30 text-green-400 dark:text-green-200 hover:text-green-600 dark:hover:text-green-100 hover:bg-green-100 dark:hover:bg-green-400/50
}

.page-item.active .page-link-success {
    @apply bg-green-500 dark:bg-green-500 text-white pointer-events-none
}

.page-link-danger {
    @apply flex items-center bg-red-50 dark:bg-red-400/30 text-red-400 dark:text-red-200 hover:text-red-600 dark:hover:text-red-100 hover:bg-red-100 dark:hover:bg-red-400/50
}

.page-item.active .page-link-danger {
    @apply bg-red-500 dark:bg-red-500 text-white pointer-events-none
}

.page-link-danger {
    @apply flex items-center bg-red-50 dark:bg-red-400/30 text-red-400 dark:text-red-200 hover:text-red-600 dark:hover:text-red-100 hover:bg-red-100 dark:hover:bg-red-400/50
}

.page-item.active .page-link-danger {
    @apply bg-red-500 dark:bg-red-500 text-white pointer-events-none
}

.page-link-warning {
    @apply flex items-center bg-amber-50 dark:bg-amber-400/30 text-amber-500 dark:text-amber-200 hover:text-amber-600 dark:hover:text-amber-100 hover:bg-amber-100 dark:hover:bg-amber-400/50
}

.page-item.active .page-link-warning {
    @apply bg-amber-500 dark:bg-amber-500 text-white pointer-events-none
}

.page-link-info {
    @apply flex items-center bg-cyan-50 dark:bg-cyan-400/30 text-cyan-400 dark:text-cyan-200 hover:text-cyan-600 dark:hover:text-cyan-100 hover:bg-cyan-100 dark:hover:bg-cyan-400/50
}

.page-item.active .page-link-info {
    @apply bg-cyan-500 dark:bg-cyan-500 text-white pointer-events-none
}

.page-link-purple {
    @apply flex items-center bg-setxo-50 dark:bg-setxo-400/30 text-setxo-400 dark:text-setxo-200 hover:text-setxo-600 dark:hover:text-setxo-100 hover:bg-setxo-100 dark:hover:bg-setxo-400/50
}

.page-item.active .page-link-purple {
    @apply bg-setxo-500 dark:bg-setxo-500 text-white pointer-events-none
}

.page-item.disabled .page-link {
    @apply bg-gray-200 dark:bg-gray-600 text-gray-400 pointer-events-none
}

.page-item.disabled .page-link-light {
    @apply bg-gray-200 dark:bg-gray-200/80 text-gray-500/40 dark:text-gray-500/80 pointer-events-none
}

.page-item.disabled .page-link-gray {
    @apply bg-gray-400 dark:bg-gray-400/60 text-gray-100/50 dark:text-gray-200/50 pointer-events-none
}

.page-item.disabled .page-link-dark {
    @apply bg-gray-500 dark:bg-gray-700/50 text-gray-100/50 dark:text-gray-200/50 pointer-events-none
}

.page-item.disabled .page-link-primary {
    @apply bg-blue-100 dark:bg-blue-400/50 text-blue-500/40 dark:text-blue-300/50 pointer-events-none
}

.page-item.disabled .page-link-success {
    @apply bg-green-100 dark:bg-green-400/50 text-green-500/40 dark:text-green-300/50 pointer-events-none
}

.page-item.disabled .page-link-danger {
    @apply bg-red-100 dark:bg-red-400/50 text-red-500/40 dark:text-red-300/50 pointer-events-none
}

.page-item.disabled .page-link-warning {
    @apply bg-amber-100 dark:bg-amber-400/50 text-amber-500/40 dark:text-amber-300/50 pointer-events-none
}

.page-item.disabled .page-link-purple {
    @apply bg-setxo-100 dark:bg-setxo-400/50 text-setxo-500/40 dark:text-setxo-300/50 pointer-events-none
}

.page-item.disabled .page-link-info {
    @apply bg-cyan-100 dark:bg-cyan-400/50 text-cyan-500/40 dark:text-cyan-300/50 pointer-events-none
}