/* ------------- Badge ------------- */
.badge {
    @apply inline-flex items-center px-2;
}

.badge-light {
    @apply bg-gray-100 text-gray-600 hover:text-gray-600;
}

.badge-gray {
    @apply bg-gray-500 text-white hover:text-white;
}

.badge-dark {
    @apply bg-gray-800 text-white hover:text-white;
}

.badge-primary {
    @apply bg-blue-600 text-white hover:text-white;
}

.badge-success {
    @apply bg-green-600 text-white hover:text-white;
}

.badge-danger {
    @apply bg-red-600 text-white hover:text-white;
}

.badge-warning {
    @apply bg-amber-500 text-white hover:text-white;
}

.badge-info {
    @apply bg-cyan-500 text-white hover:text-white;
}

.badge-purple {
    @apply bg-setxo-600 text-white hover:text-white;
}

.badge-light-gray {
    @apply bg-gray-200 text-gray-700 hover:text-gray-700;
}

.badge-light-dark {
    @apply bg-gray-300 text-gray-900 hover:text-gray-900;
}

.badge-light-primary {
    @apply bg-blue-100 text-blue-600 hover:text-blue-600;
}

.badge-light-success {
    @apply bg-green-100 text-green-600 hover:text-green-600;
}

.badge-light-danger {
    @apply bg-red-100 text-red-500 hover:text-red-500;
}

.badge-light-warning {
    @apply bg-orange-100 text-orange-500 hover:text-orange-500;
}

.badge-light-info {
    @apply bg-cyan-100 text-cyan-600 hover:text-cyan-600;
}

.badge-light-purple {
    @apply bg-setxo-100 text-setxo-600 hover:text-setxo-600;
}

.badge-position-top-right {
    @apply absolute -right-[20px] -top-[10px];
}

.badge-position-top-left {
    @apply absolute -left-[20px] -top-[10px];
}

.badge-position-bottom-right {
    @apply absolute -right-[20px] -bottom-[10px];
}

.badge-position-bottom-left {
    @apply absolute -left-[20px] -bottom-[10px];
}