/* ------------- Progress ------------- */

.progress {
    @apply flex items-center w-full bg-gray-100 dark:bg-gray-500/20
}

.progress-bar {
    @apply flex items-center justify-center;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 100%, transparent 100%, transparent);
    background-size: 3rem;
}

.progress-bar-animated {
    @apply animate-[progress-bar-stripes_1s_linear_infinite]
}

.progress-label {
    @apply text-sm font-medium text-white dark:text-black
}

.progress-bar-light {
    @apply bg-gray-300 dark:bg-gray-200
}

.progress-bar-gray {
    @apply bg-gray-500 dark:bg-gray-400
}

.progress-bar-dark {
    @apply bg-gray-700 dark:bg-gray-600
}

.progress-bar-primary {
    @apply bg-blue-500 dark:bg-blue-400
}

.progress-bar-success {
    @apply bg-green-500 dark:bg-green-400
}

.progress-bar-danger {
    @apply bg-red-500 dark:bg-red-400
}

.progress-bar-warning {
    @apply bg-amber-500 dark:bg-amber-400
}

.progress-bar-info {
    @apply bg-cyan-500 dark:bg-cyan-400
}

.progress-bar-purple {
    @apply bg-setxo-500 dark:bg-setxo-400
}

@keyframes progress-bar-stripes {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 3rem;
    }
}

@keyframes progress-bar-indeterminate {
    0% {
        background-position-x: 0%;
    }

    50% {
        background-position-x: -100%;
    }

    100% {
        background-position-x: 0%;
    }
}

.progress-indeterminate-light {
    @apply bg-[length:167%] bg-gradient-to-r from-gray-300 dark:from-gray-200 from-20% to-transparent dark:to-transparent to-0% animate-[progress-bar-indeterminate_3s_ease-in-out_infinite]
}

.progress-indeterminate-gray {
    @apply bg-[length:167%] bg-gradient-to-r from-gray-500 dark:from-gray-400 from-20% to-transparent dark:to-transparent to-0% animate-[progress-bar-indeterminate_3s_ease-in-out_infinite]
}

.progress-indeterminate-dark {
    @apply bg-[length:167%] bg-gradient-to-r from-gray-700 dark:from-gray-600 from-20% to-transparent dark:to-transparent to-0% animate-[progress-bar-indeterminate_3s_ease-in-out_infinite]
}

.progress-indeterminate-primary {
    @apply bg-[length:167%] bg-gradient-to-r from-blue-500 dark:from-blue-400 from-20% to-transparent dark:to-transparent to-0% animate-[progress-bar-indeterminate_3s_ease-in-out_infinite]
}

.progress-indeterminate-success {
    @apply bg-[length:167%] bg-gradient-to-r from-green-500 dark:from-green-400 from-20% to-transparent dark:to-transparent to-0% animate-[progress-bar-indeterminate_3s_ease-in-out_infinite]
}

.progress-indeterminate-danger {
    @apply bg-[length:167%] bg-gradient-to-r from-red-500 dark:from-red-400 from-20% to-transparent dark:to-transparent to-0% animate-[progress-bar-indeterminate_3s_ease-in-out_infinite]
}

.progress-indeterminate-warning {
    @apply bg-[length:167%] bg-gradient-to-r from-amber-500 dark:from-amber-400 from-20% to-transparent dark:to-transparent to-0% animate-[progress-bar-indeterminate_3s_ease-in-out_infinite]
}

.progress-indeterminate-info {
    @apply bg-[length:167%] bg-gradient-to-r from-cyan-500 dark:from-cyan-400 from-20% to-transparent dark:to-transparent to-0% animate-[progress-bar-indeterminate_3s_ease-in-out_infinite]
}

.progress-indeterminate-purple {
    @apply bg-[length:170%] bg-gradient-to-r from-setxo-500 dark:from-setxo-400 from-20% to-transparent dark:to-transparent to-0% animate-[progress-bar-indeterminate_3s_ease-in-out_infinite]
}