/* ------------- Alert ------------- */

.alert {
    @apply w-full flex p-4 text-sm transition duration-300 gap-4
}

.alert-content {
    @apply flex flex-1 items-center
}

.alert-light {
    @apply text-gray-800 bg-gray-100 dark:bg-gray-300 dark:text-gray-800 border-gray-200 dark:border-gray-50
}

.alert-gray {
    @apply text-gray-800 bg-gray-300 dark:bg-gray-500 dark:text-gray-200 border-gray-400 dark:border-gray-400
}

.alert-dark {
    @apply text-gray-100 bg-gray-500 dark:bg-gray-700 dark:text-gray-300 border-gray-900 dark:border-gray-500
}

.alert-primary {
    @apply text-blue-50 bg-blue-600 dark:bg-blue-500 dark:text-white border-blue-400 dark:border-blue-400
}


.alert-success {
    @apply text-green-50 bg-green-600 dark:bg-green-500 dark:text-white border-green-400 dark:border-green-400
}

.alert-danger {
    @apply text-red-50 bg-red-600 dark:bg-red-500 dark:text-white border-red-400 dark:border-red-400
}

.alert-warning {
    @apply text-amber-50 bg-amber-600 dark:bg-amber-500 dark:text-white border-amber-400 dark:border-amber-400
}

.alert-info {
    @apply text-cyan-50 bg-cyan-600 dark:bg-cyan-500 dark:text-white border-cyan-400 dark:border-cyan-400
}

.alert-purple {
    @apply text-setxo-50 bg-setxo-600 dark:bg-setxo-500 dark:text-white border-setxo-400 dark:border-setxo-400
}

.alert-light-primary {
    @apply text-blue-600 bg-blue-50 dark:bg-blue-100 dark:text-blue-600 border-blue-200 dark:border-blue-400
}


.alert-light-success {
    @apply text-green-600 bg-green-50 dark:bg-green-100 dark:text-green-600 border-green-200 dark:border-green-400
}

.alert-light-danger {
    @apply text-red-600 bg-red-50 dark:bg-red-100 dark:text-red-600 border-red-200 dark:border-red-400
}

.alert-light-warning {
    @apply text-amber-600 bg-amber-50 dark:bg-amber-100 dark:text-amber-600 border-amber-200 dark:border-amber-400
}

.alert-light-info {
    @apply text-cyan-600 bg-cyan-50 dark:bg-cyan-100 dark:text-cyan-600 border-cyan-200 dark:border-cyan-400
}

.alert-light-purple {
    @apply text-setxo-600 bg-setxo-50 dark:bg-setxo-100 dark:text-setxo-600 border-setxo-200 dark:border-setxo-400
}

.btn-alert-close {
    @apply !h-6 w-6 !px-0 !rounded-full ml-auto
}

.alert-outline-light {
    @apply text-gray-500 border border-gray-200 dark:border-gray-500 dark:text-gray-200 bg-white dark:bg-gray-900
}

.alert-outline-gray {
    @apply text-gray-600 border border-gray-400 dark:border-gray-600 dark:text-gray-200 bg-white dark:bg-gray-900
}

.alert-outline-dark {
    @apply text-gray-900 border border-gray-800 dark:border-gray-700 dark:text-gray-400 bg-white dark:bg-gray-900
}

.alert-outline-primary {
    @apply text-blue-600 border border-blue-300 dark:border-blue-400/60 dark:text-blue-400 bg-white dark:bg-gray-900
}

.alert-outline-success {
    @apply text-green-600 border border-green-300 dark:border-green-400/60 dark:text-green-400 bg-white dark:bg-gray-900
}

.alert-outline-danger {
    @apply text-red-600 border border-red-300 dark:border-red-400/60 dark:text-red-400 bg-white dark:bg-gray-900
}

.alert-outline-warning {
    @apply text-amber-600 border border-amber-300 dark:border-amber-400/60 dark:text-amber-400 bg-white dark:bg-gray-900
}

.alert-outline-info {
    @apply text-cyan-600 border border-cyan-300 dark:border-cyan-400/60 dark:text-cyan-400 bg-white dark:bg-gray-900
}

.alert-outline-purple {
    @apply text-setxo-600 border border-setxo-300 dark:border-setxo-400/60 dark:text-setxo-300 bg-white dark:bg-gray-900
}

.alert-dismissible {
    @apply flex justify-between items-center
}