/* ------------- Drawer ------------- */

.drawer {
    @apply relative z-50;
    overflow: unset !important;
}

.drawer-dialog {
    @apply flex flex-col gap-4 bg-white dark:bg-gray-900 overflow-y-auto shadow-lg transform transition-all rounded-lg p-4
}

.drawer-content {
    @apply flex flex-col gap-4
}

.drawer-dialog-top {
    @apply fixed max-h-screen left-0 top-0 rounded-t-none
}

.drawer-dialog-bottom {
    @apply fixed max-h-screen left-0 bottom-0 rounded-b-none
}

.drawer-dialog-left {
    @apply fixed h-full left-0 top-0 rounded-l-none
}

.drawer-dialog-right {
    @apply fixed h-full right-0 top-0 rounded-r-none
}

.drawer-backdrop {
    @apply fixed inset-0 overflow-hidden bg-gray-800 bg-opacity-80 transition-opacity
}

.drawer-title {
    @apply flex items-center justify-between
}

.backdrop-effect {
    animation: zoom 250ms ease-in-out;
}

.backdrop-motion {
    @apply ease-in-out duration-300
}

.enter-motion {
    @apply ease-in-out duration-300
}

.leave-motion {
    @apply ease-in-out duration-300
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.01);
    }

    100% {
        transform: scale(1);
    }
}