.navbar {
    @apply w-full px-2 py-2 sm:px-4 sm:py-3 flex flex-wrap items-center justify-between gap-x-4 mx-auto duration-300
}

/* .navbar-container {
    @apply mx-auto flex flex-wrap items-center justify-between gap-x-4
} */

.navbar-brand {
    @apply flex items-center justify-center gap-2 whitespace-nowrap text-2xl font-semibold dark:text-white
}

.navbar-light * {
    @apply text-gray-200 dark:text-gray-200
}

.navbar-light .navbar-brand {
    @apply text-gray-200 dark:text-gray-200
}

.navbar-light .navbar-brand a {
    @apply text-gray-200 dark:text-gray-200
}

.navbar-light .navbar-brand a:hover {
    @apply text-white dark:text-white
}

.navbar-dark * {
    @apply text-gray-600 dark:text-gray-600
}

.navbar-dark .navbar-brand {
    @apply text-gray-600 dark:text-gray-600
}

.navbar-dark .navbar-brand a {
    @apply text-gray-600 dark:text-gray-600
}

.navbar-dark .navbar-brand a:hover {
    @apply text-gray-900 dark:text-gray-900
}

.navbar-collapse {
    @apply w-full md:block md:w-auto order-1
}

.navbar-nav {
    @apply absolute md:relative flex w-full md:hidden md:w-auto order-2 px-4 pb-4 top-full left-0 z-40 backdrop-filter backdrop-blur-md
}

.navbar-toggle {
    @apply inline-flex items-center p-2 text-sm md:hidden order-1
}

.navbar-light .navbar-toggle {
    @apply hover:bg-gray-100/20 text-gray-200 hover:text-white
}

.navbar-dark .navbar-toggle {
    @apply hover:bg-gray-500/20 text-gray-500 hover:text-gray-700
}

.navbar-light .nav-link-primary.active {
    @apply text-blue-400 hover:text-blue-400
}

.navbar-light .nav-link-success.active {
    @apply text-green-400 hover:text-green-400
}

.navbar-light .nav-link-danger.active {
    @apply text-red-400 hover:text-red-400
}

.navbar-light .nav-link-warning.active {
    @apply text-amber-400 hover:text-amber-400
}

.navbar-light .nav-link-info.active {
    @apply text-cyan-400 hover:text-cyan-400
}

.navbar-light .nav-link-purple.active {
    @apply text-setxo-400 hover:text-setxo-400
}

.bg-default {
    @apply bg-gray-100/90 dark:bg-gray-700/90 text-gray-700 dark:text-gray-700
}

.bg-default .navbar-toggle {
    @apply hover:bg-gray-400/20 text-gray-500 dark:text-gray-400 hover:text-gray-700 dark:hover:text-gray-200
}

.bg-light {
    @apply bg-gray-300/90 dark:bg-gray-200/90
}

.bg-gray {
    @apply bg-gray-600/90 dark:bg-gray-500/90
}

.bg-dark {
    @apply bg-gray-800/90 dark:bg-gray-700/90
}

.bg-primary {
    @apply bg-blue-600/90 dark:bg-blue-600/90
}

.bg-success {
    @apply bg-green-600/90 dark:bg-green-600/90
}

.bg-danger {
    @apply bg-red-600/90 dark:bg-rose-700/90
}

.bg-warning {
    @apply bg-amber-600/90 dark:bg-amber-600/90
}

.bg-info {
    @apply bg-cyan-600/90 dark:bg-cyan-500/90
}

.bg-purple {
    @apply bg-setxo-800/90 dark:bg-setxo-700/90
}

.rounded-xl {
    @apply sm:rounded-[32px] rounded-[28px]
}

.rounded-t-xl {
    @apply sm:rounded-t-[32px] rounded-t-[28px]
}

.rounded-b-xl {
    @apply sm:rounded-b-[32px] rounded-b-[28px]
}

.navbar-dark .nav .nav-link:not(.nav-link.active) {
    @apply text-gray-600 hover:text-gray-800
}