/* ------------- Close Button ------------- */

.btn-close {
    @apply text-sm p-1.5 transition duration-300
}

.btn-close-default {
    @apply stroke-gray-500 hover:stroke-gray-800 dark:stroke-gray-400  dark:hover:stroke-gray-200
}

.btn-close-transparent {
    @apply hover:bg-gray-100 dark:hover:bg-gray-700 stroke-gray-500 dark:stroke-gray-400 dark:hover:stroke-gray-200
}

.btn-close-light {
    @apply bg-gray-200 dark:bg-gray-200 hover:bg-gray-300 dark:hover:bg-gray-100 stroke-gray-700 dark:hover:stroke-gray-700
}

.btn-close-gray {
    @apply bg-gray-400 dark:bg-gray-600 hover:bg-gray-500 dark:hover:bg-gray-700 stroke-white
}

.btn-close-dark {
    @apply bg-gray-600 dark:bg-gray-800 hover:bg-gray-700 dark:hover:bg-gray-600 stroke-white
}

.btn-close-primary {
    @apply bg-blue-100 dark:bg-blue-200 hover:bg-blue-200 dark:hover:bg-blue-300 stroke-blue-500 dark:stroke-blue-600 dark:hover:stroke-blue-600
}

.btn-close-success {
    @apply bg-green-100 dark:bg-green-200 hover:bg-green-200 dark:hover:bg-green-300 stroke-green-500 dark:stroke-green-600 dark:hover:stroke-green-600
}

.btn-close-danger {
    @apply bg-red-100 dark:bg-red-200 hover:bg-red-200 dark:hover:bg-red-300 stroke-red-500 dark:stroke-red-600 dark:hover:stroke-red-600
}

.btn-close-warning {
    @apply bg-amber-100 dark:bg-amber-200 hover:bg-amber-200 dark:hover:bg-amber-300 stroke-amber-500 dark:stroke-amber-600 dark:hover:stroke-amber-600
}

.btn-close-info {
    @apply bg-cyan-100 dark:bg-cyan-200 hover:bg-cyan-200 dark:hover:bg-cyan-300 stroke-cyan-500 dark:stroke-cyan-700 dark:hover:stroke-cyan-700
}

.btn-close-purple {
    @apply bg-setxo-100 dark:bg-setxo-200 hover:bg-setxo-200 dark:hover:bg-setxo-300 stroke-setxo-500 dark:stroke-setxo-600 dark:hover:stroke-setxo-600
}

.btn-close-white {
    @apply bg-white/60 hover:bg-white/80 stroke-black/80
}