.carousel {
    @apply overflow-hidden relative
}

.carousel-inner {
    @apply flex transition-transform ease-out duration-500 relative w-full
}

.carousel-item {
    @apply w-full flex-none
}

.carousel-image {
    @apply bg-no-repeat bg-center bg-cover h-full
}

.carousel-caption {
    @apply absolute bottom-16 mx-auto w-full z-50 px-24 
}

.carousel-caption-container {
    @apply relative bg-white/60 dark:bg-black/40 p-4 transition-opacity backdrop-filter backdrop-blur-md
}

.carousel-caption-title {
    @apply text-gray-900 dark:text-gray-100
}

.carousel-caption-description {
    @apply text-gray-700 dark:text-gray-300
}

.carousel-control-prev {
    @apply absolute left-0 top-0 h-full px-6 bg-gradient-to-r from-black/40 to-transparent text-gray-100/80 hover:text-gray-100 hover:bg-gradient-to-r hover:from-black/50 hover:to-transparent duration-300
}

.carousel-control-next {
    @apply absolute right-0 top-0 h-full px-6 bg-gradient-to-r from-transparent to-black/40 text-gray-100/80 hover:text-gray-100 hover:bg-gradient-to-r hover:from-transparent hover:to-black/60 duration-300
}

.carousel-indicators {
    @apply absolute bottom-4 right-0 left-0
}

.carousel-indicators-container {
    @apply relative flex justify-center
}

.carousel-indicators-inner {
    @apply flex items-center justify-center gap-2 bg-white/50 dark:bg-black/50 p-2 rounded-full transition-opacity backdrop-filter backdrop-blur-md
}

.carousel-indicator-item {
    @apply transition-all w-4 h-4 rounded-full bg-gray-500/50 dark:bg-white/60 duration-300
}

.carousel-indicator-item.active {
    @apply bg-gray-600 dark:bg-white px-4 duration-300
}

.carousel-primary .carousel-indicator-item.active {
    @apply bg-blue-500 dark:bg-blue-400
}

.carousel-success .carousel-indicator-item.active {
    @apply bg-green-500 dark:bg-green-400
}

.carousel-danger .carousel-indicator-item.active {
    @apply bg-red-500 dark:bg-red-400
}

.carousel-warning .carousel-indicator-item.active {
    @apply bg-amber-500 dark:bg-amber-400
}

.carousel-info .carousel-indicator-item.active {
    @apply bg-cyan-500 dark:bg-cyan-400
}

.carousel-purple .carousel-indicator-item.active {
    @apply bg-setxo-500 dark:bg-setxo-400
}