/* ------------- Tooltip ------------- */

.tooltip {
    @apply relative inline
}

.tooltip-content {
    @apply absolute w-max flex flex-wrap px-2 py-0.5 z-30 pointer-events-none
}

.tooltip-top {
    @apply bottom-full mb-1 left-1/2 -translate-x-1/2
}

.tooltip-top-start {
    @apply bottom-full mb-1 left-0
}

.tooltip-top-end {
    @apply bottom-full mb-1 right-0
}

.tooltip-right {
    @apply left-full ml-1 top-1/2 -translate-y-1/2
}

.tooltip-right-start {
    @apply left-full ml-1 top-0
}

.tooltip-right-end {
    @apply left-full ml-1 bottom-0
}

.tooltip-bottom {
    @apply top-full mt-1 left-1/2 -translate-x-1/2
}

.tooltip-bottom-start {
    @apply top-full mt-1 left-0
}

.tooltip-bottom-end {
    @apply top-full mt-1 right-0
}

.tooltip-left {
    @apply right-full mr-1 top-1/2 -translate-y-1/2
}

.tooltip-left-start {
    @apply right-full mr-1 top-0
}

.tooltip-left-end {
    @apply right-full mr-1 bottom-0
}

.tooltip-link {
    @apply px-1 inline-block
}

.tooltip-white {
    @apply bg-white/95 text-gray-700 shadow-lg dark:shadow-none
}

.tooltip-light {
    @apply bg-gray-200/95 text-gray-700
}

.tooltip-gray {
    @apply bg-gray-500/95 text-gray-100
}

.tooltip-dark {
    @apply bg-gray-700/95 text-gray-100
}

.tooltip-primary {
    @apply bg-blue-700/90 text-gray-100
}

.tooltip-success {
    @apply bg-green-700/95 text-gray-100
}

.tooltip-warning {
    @apply bg-amber-600/95 text-gray-100
}

.tooltip-danger {
    @apply bg-red-700/95 text-gray-100
}

.tooltip-info {
    @apply bg-cyan-600/95 text-gray-100
}

.tooltip-purple {
    @apply bg-setxo-600/95 text-gray-100
}