/* ------------- Navs Tabs ------------- */

nav {
    @apply list-none
}

.nav {
    @apply flex flex-wrap font-medium;
}

.nav-tabs {
    @apply border-b dark:border-gray-600;
}

.nav-item {
    @apply flex items-center min-h-10
}

.nav-link {
    @apply flex items-center w-full border-b-transparent duration-300 cursor-pointer
}

.nav:not(.nav-light .nav-link.active) {
    @apply text-gray-500 hover:text-gray-700 dark:text-gray-600 dark:hover:text-gray-100
}

.nav .nav-link:not(.nav-link.active) {
    @apply text-gray-500 hover:text-gray-700 dark:text-gray-300 dark:hover:text-gray-100
}

.nav.nav-dark .nav-link:not(.nav-link.active) {
    @apply text-gray-200 hover:text-gray-100 dark:text-gray-300 dark:hover:text-gray-100
}

.nav-link.disabled {
    @apply opacity-40 pointer-events-none
}

.nav-link.active {
    @apply font-semibold
}

.nav-link-light.active {
    @apply text-gray-300 dark:text-gray-200 hover:text-gray-300  dark:hover:text-gray-200
}

.nav-link-gray.active {
    @apply text-gray-500 dark:text-gray-400 hover:text-blue-500  dark:hover:text-gray-400
}

.nav-link-dark.active {
    @apply text-gray-700 dark:text-gray-600 hover:text-blue-700  dark:hover:text-gray-600
}

.nav-link-primary.active {
    @apply text-blue-500 dark:text-blue-400 hover:text-blue-500  dark:hover:text-blue-400
}

.nav-link-success.active {
    @apply text-green-500 dark:text-green-400 hover:text-green-500  dark:hover:text-green-400
}

.nav-link-danger.active {
    @apply text-red-500 dark:text-red-400 hover:text-red-500  dark:hover:text-red-400
}

.nav-link-warning.active {
    @apply text-amber-500 dark:text-amber-400 hover:text-amber-500  dark:hover:text-amber-400
}

.nav-link-info.active {
    @apply text-cyan-500 dark:text-cyan-400 hover:text-cyan-500  dark:hover:text-cyan-400
}

.nav-link-purple.active {
    @apply text-setxo-500 dark:text-setxo-400 hover:text-setxo-500  dark:hover:text-setxo-400
}

.nav-tabs {
    @apply flex-wrap
}

.nav-tabs .nav-link-light.active {
    @apply border-b-2 text-gray-300 dark:text-gray-200 border-gray-300 dark:border-gray-200 hover:text-gray-300 hover:border-gray-300 dark:hover:text-gray-200 dark:hover:border-gray-200
}

.nav-tabs .nav-link-gray.active {
    @apply border-b-2 text-gray-500 dark:text-gray-500 border-gray-500 dark:border-gray-500 hover:text-gray-500 hover:border-gray-500 dark:hover:text-gray-500 dark:hover:border-gray-500
}

.nav-tabs .nav-link-dark.active {
    @apply border-b-2 text-gray-800 dark:text-gray-700 border-gray-800 dark:border-gray-700 hover:text-gray-800 hover:border-gray-800 dark:hover:text-gray-700 dark:hover:border-gray-700
}

.nav-tabs .nav-link-primary.active {
    @apply border-b-2 text-blue-600 dark:text-blue-400 border-blue-600 dark:border-blue-400 hover:text-blue-600 hover:border-blue-600 dark:hover:text-blue-400 dark:hover:border-blue-400
}

.nav-tabs .nav-link-success.active {
    @apply border-b-2 text-green-600 dark:text-green-400 border-green-600 dark:border-green-400 hover:text-green-600 hover:border-green-600 dark:hover:text-green-400 dark:hover:border-green-400
}

.nav-tabs .nav-link-danger.active {
    @apply border-b-2 text-red-600 dark:text-red-500 border-red-600 dark:border-red-500 hover:text-red-600 hover:border-red-600 dark:hover:text-red-500 dark:hover:border-red-500
}

.nav-tabs .nav-link-warning.active {
    @apply border-b-2 text-amber-600 dark:text-amber-500 border-amber-600 dark:border-amber-500 hover:text-amber-600 hover:border-amber-600 dark:hover:text-amber-500 dark:hover:border-amber-500
}

.nav-tabs .nav-link-info.active {
    @apply border-b-2 text-cyan-600 dark:text-cyan-500 border-cyan-600 dark:border-cyan-500 hover:text-cyan-600 hover:border-cyan-600 dark:hover:text-cyan-500 dark:hover:border-cyan-500
}

.nav-tabs .nav-link-purple.active {
    @apply border-b-2 text-setxo-500 dark:text-setxo-400 border-setxo-500 dark:border-setxo-400 hover:text-setxo-500 hover:border-setxo-500 dark:hover:text-setxo-400 dark:hover:border-setxo-400
}

.nav-tabs .nav-link {
    @apply flex items-center justify-center border-b-2 h-10 px-4 hover:border-b-2 hover:border-gray-400 duration-300
}

.nav-tabs .nav-link.disabled {
    @apply opacity-40 pointer-events-none
}

.nav-pills {
    @apply flex
}

.nav-fill {
    @apply sm:flex-nowrap flex-wrap
}

.nav-fill .nav-item {
    @apply w-full
}

.nav-pills .nav-link {
    @apply grid px-4 h-10 text-gray-500 dark:text-gray-400 dark:hover:text-gray-100 hover:bg-gray-200 hover:text-gray-800 dark:hover:bg-gray-700 active:bg-gray-300 focus:bg-gray-300 active:text-gray-800 duration-300
}

.nav-pills .nav-link.active {
    @apply !text-white dark:!text-white
}

.nav-pills .nav-link-light.active {
    @apply bg-gray-200 dark:bg-gray-300 hover:bg-gray-200 dark:hover:bg-gray-300 active:bg-gray-200 focus:bg-gray-200 !text-gray-700 dark:!text-gray-700
}

.nav-pills .nav-link-gray.active {
    @apply bg-gray-500 dark:bg-gray-500 hover:bg-gray-500 dark:hover:bg-gray-500 active:bg-gray-500 focus:bg-gray-500
}

.nav-pills .nav-link-dark.active {
    @apply bg-gray-800 dark:bg-gray-800 hover:bg-gray-800 dark:hover:bg-gray-800 active:bg-gray-800 focus:bg-gray-800
}

.nav-pills .nav-link-primary.active {
    @apply bg-blue-600 dark:bg-blue-500 hover:bg-blue-600 dark:hover:bg-blue-500 active:bg-blue-700 focus:bg-blue-700 text-white dark:text-white
}

.nav-pills .nav-link-success.active {
    @apply bg-green-600 dark:bg-green-500 hover:bg-green-600 dark:hover:bg-green-500 active:bg-green-700 focus:bg-green-700
}

.nav-pills .nav-link-danger.active {
    @apply bg-red-600 dark:bg-red-500 hover:bg-red-600 dark:hover:bg-red-500 active:bg-red-700 focus:bg-red-700
}

.nav-pills .nav-link-warning.active {
    @apply bg-amber-600 dark:bg-amber-600 hover:bg-amber-600 dark:hover:bg-amber-600 active:bg-amber-700 focus:bg-amber-700
}

.nav-pills .nav-link-info.active {
    @apply bg-cyan-600 dark:bg-cyan-500 hover:bg-cyan-600 dark:hover:bg-cyan-500 active:bg-cyan-700 focus:bg-cyan-700
}

.nav-pills .nav-link-purple.active {
    @apply bg-setxo-600 dark:bg-setxo-500 hover:bg-setxo-600 dark:hover:bg-setxo-500 active:bg-setxo-700 focus:bg-setxo-700
}

.nav-pills .nav-link.disabled {
    @apply opacity-40 pointer-events-none
}

.nav-dropdown {
    @apply flex items-center w-full cursor-pointer text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100 disabled:text-gray-500 border-b-transparent duration-300
}

.nav-pills .nav-dropdown {
    @apply px-4 h-10 text-gray-500 dark:text-gray-400 dark:hover:text-gray-100 hover:bg-gray-200 hover:text-gray-800 dark:hover:bg-gray-700 active:bg-gray-300 focus:bg-gray-300 active:text-gray-800 rounded duration-300
}