/* ------------- Accordion ------------- */

.accordion {
    @apply grid gap-2
}

.accordion-button {
    @apply flex items-center w-full p-4 text-left text-sm font-medium transition duration-300 justify-between rounded-lg
}

.accordion-body {
    @apply overflow-hidden mt-2 p-4 border border-gray-300 dark:border-gray-600 rounded-lg text-zinc-700 dark:text-zinc-400
}

.accordion-default {
    @apply bg-gray-100 dark:bg-gray-600/50 text-gray-700 dark:text-gray-200
}

.accordion-light {
    @apply bg-gray-200 dark:bg-gray-300 text-gray-900 dark:text-gray-800
}

.accordion-gray {
    @apply bg-gray-500 dark:bg-gray-500 text-gray-100 dark:text-gray-100
}

.accordion-dark {
    @apply bg-gray-700 dark:bg-gray-700 text-gray-100 dark:text-gray-200
}

.accordion-primary {
    @apply bg-blue-500 dark:bg-blue-400/80 text-gray-50 dark:text-gray-100
}

.accordion-success {
    @apply bg-green-600 dark:bg-green-400/80 text-gray-100 dark:text-gray-100
}

.accordion-danger {
    @apply bg-red-600 dark:bg-red-500/80 text-gray-50 dark:text-gray-100
}

.accordion-warning {
    @apply bg-amber-600 dark:bg-amber-500/80 text-gray-50 dark:text-gray-100
}

.accordion-info {
    @apply bg-cyan-500 dark:bg-cyan-500/80 text-gray-50 dark:text-gray-100
}

.accordion-purple {
    @apply bg-setxo-500 dark:bg-setxo-500/80 text-gray-50 dark:text-gray-100
}

.accordion-light-primary {
    @apply bg-blue-100 dark:bg-blue-100 text-blue-900 dark:text-blue-800
}

.accordion-light-success {
    @apply bg-green-100 dark:bg-green-100 text-green-900 dark:text-green-800
}

.accordion-light-danger {
    @apply bg-red-100 dark:bg-red-100 text-red-900 dark:text-red-800
}

.accordion-light-warning {
    @apply bg-amber-100 dark:bg-amber-100 text-amber-900 dark:text-amber-800
}

.accordion-light-info {
    @apply bg-cyan-100 dark:bg-cyan-100 text-cyan-900 dark:text-cyan-800
}

.accordion-light-purple {
    @apply bg-setxo-100 dark:bg-setxo-100 text-setxo-900 dark:text-setxo-800
}